<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This Site was created by Sai Pranav Bonthala. This application basically fetches the weather of a particular place searched by the user using Popular Geo location Service API "Mapbox" and the weather data from darksky.net API!!</p>

        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>